<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%messages.forEach((message)=>{%>
    <ul>
        <li>User: <%= message.user %></li>
        <li>Text: <%= message.text %></li>
        <li>Date Added: <%= message.added %></li>
        <a href="/<%= message.messageId%>">
            <button>open</button>
        </a>
    </ul>
    <%})%>
    <a href="/new">add new book</a>
</body>
</html>